[submodule "Jarsa/operating-unit"]
	path = Jarsa/operating-unit
	url = git@github.com:Jarsa/operating-unit.git
	branch = 15.0

[submodule "Jarsa/transport-management-system"]
	path = Jarsa/transport-management-system
	url = git@github.com:Jarsa/transport-management-system.git
	branch = 15.0
